<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Projet NLP</title>
    <link rel="stylesheet" type="text/css" href="{% static 'nlpApps/index.css' %}">
</head>
<body>

    {% include 'nlpApps/navbar.html' %}

<div class="main-content">
    <h1>Projet de Traitement Automatique du Langage Naturel (NLP)</h1>
    <p>Bienvenue sur notre site dédié au Traitement Automatique du Langage Naturel (NLP). Notre projet propose plusieurs fonctionnalités permettant d'analyser et de traiter du texte en langage naturel.</p>
    <p>Utilisez les liens dans la barre de navigation ci-dessus pour accéder aux différentes fonctionnalités :</p>
    <ul>
        <li><strong>NER :</strong> Reconnaissance des entités nommées</li>
        <li><strong>Analyse de sentiment :</strong> Analyse du sentiment dans un texte <em>A venir</em></li>
        <li><strong>Traduction automatique :</strong> Traduction de texte automatique <em>A venir</em></li>
    </ul>
    <p>N'hésitez pas à explorer nos fonctionnalités et à nous contacter pour toute question ou suggestion.</p>
</div>

</body>
</html>
