<!DOCTYPE html>
<html>  
<head>
    {% load static %}
    <title>Named Entity Recognition</title>
    <link rel="stylesheet" href="{% static 'nlpApps/style.css' %}">
</head>
<body>
    <!-- <div class="container">
        <h1>Named Entity Recognition</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="file" id="file" accept=".txt">
            <button type="submit">Submit</button>
        </form>
        <div class="output">
            {% if output %}
                <h2>Output</h2>
                <pre>{{ output }}</pre>
            {% endif %}
        </div>
    </div> -->
    <h1>Named Entity Recognition</h1>
</html>